# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [7]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [8]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [10]:
df = data.groupby(['CustomerID','ProductName']).agg({'Quantity':'sum'})
df

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1
...                                            ...
98200      Vol Au Vents                         50
           Wasabi Powder                        25
           Wine - Fume Blanc Fetzer             25
           Wine - Hardys Bankside Shiraz        25
           Yogurt - French Vanilla              25

[63628 rows x 1 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [15]:
table = pd.pivot_table(df, values = 'Quantity', index=['ProductName'], columns=['CustomerID']).fillna(0)
table

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yoghurt Tubes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0
"Yogurt - Blueberry, 175 Gr",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yogurt - French Vanilla,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
Zucchini - Yellow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [25]:
distances = pdist(table.T, 'euclidean')
print(distances)
distances = pd.DataFrame(1/(1 + squareform(pdist(table.T, 'euclidean'))), 
                         index=table.columns, columns=table.columns)
distances

[ 11.91637529  10.48808848  11.22497216 ... 304.13812651 305.16389039
 303.10889132]

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

CustomerID: 61288 || Client name: Rosa Andersen

In [33]:
similarities_Rosa = distances[61288].sort_values(ascending=False)[1:6]
similarities_Rosa

CustomerID
15166    0.007911
5968     0.007794
8539     0.007778
5224     0.007771
5104     0.007750
Name: 61288, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [60]:
records = df.loc[similarities_Rosa.index]
records

                                              Quantity
CustomerID ProductName
5104       Apricots - Halves                         2
           Bacardi Breezer - Tropical                2
           Bay Leaf                                  2
           Beans - Kidney, Canned                    2
           Beans - Wax                               2
...                                                ...
15166      Wine - Magnotta, Merlot Sr Vqa            4
           Wine - Red, Harrow Estates, Cab           4
           Wine - Redchard Merritt                   4
           Wine - Ruffino Chianti                    4
           Wine - Vineland Estate Semi - Dry         4

[316 rows x 1 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [74]:
total = records.sort_values(by='Quantity', ascending= False)
total

                                          Quantity
CustomerID ProductName
15166      Pasta - Orecchiette                   8
           Squid U5 - Thailand                   8
           Lamb - Pieces, Diced                  8
8539       Wine - Prosecco Valdobiaddene         6
           Lime Cordial - Roses                  6
...                                            ...
5224       Wine - Prosecco Valdobiaddene         2
           Wiberg Super Cure                     2
           Water, Tap                            2
           Water - Green Tea Refresher           2
5968       Mussels - Frozen                      2

[316 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [91]:
merged = total.merge(table, how= "left", on='ProductName')
merged

,Quantity,33,200,264,356,412,464,477,639,649,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Pasta - Orecchiette,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0
Squid U5 - Thailand,8,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Lamb - Pieces, Diced",8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wine - Prosecco Valdobiaddene,6,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0
Lime Cordial - Roses,6,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wine - Prosecco Valdobiaddene,2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0
Wiberg Super Cure,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0
"Water, Tap",2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Water - Green Tea Refresher,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Mussels - Frozen,2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0

In [92]:
filterino = merged[merged[61288]==0]
filterino

,Quantity,33,200,264,356,412,464,477,639,649,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Pasta - Orecchiette,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0
Squid U5 - Thailand,8,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wine - Prosecco Valdobiaddene,6,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0
Lime Cordial - Roses,6,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ezy Change Mophandle,6,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wine - Red, Colio Cabernet",2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,50.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0
Wine - Prosecco Valdobiaddene,2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0
Wiberg Super Cure,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0
"Water, Tap",2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Water - Green Tea Refresher,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
filterino[0:5]

,Quantity,33,200,264,356,412,464,477,639,649,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Pasta - Orecchiette,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0
Squid U5 - Thailand,8,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wine - Prosecco Valdobiaddene,6,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0
Lime Cordial - Roses,6,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ezy Change Mophandle,6,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [120]:
recommendations = []
customerids = [e for e in data.CustomerID]

In [121]:
def recommendation(client):
    similarities_client = distances[client].sort_values(ascending=False)[1:6]
    records = df.loc[similarities_client.index]
    total = records.sort_values(by='Quantity', ascending= False)
    filterino = merged[merged[client]==0]
    filterino[0:5]
    return dict({
                  "Choice 1": filterino.index[0],
                  "Choice 2": filterino.index[1],
                  "Choice 3": filterino.index[2],
                  "Choice 4": filterino.index[3],
                  "Choice 5": filterino.index[4]})

In [122]:
for e in customerids[:10]:
    print(recommendation(e))

{'Choice 1': 'Pasta - Orecchiette', 'Choice 2': 'Squid U5 - Thailand', 'Choice 3': 'Wine - Prosecco Valdobiaddene', 'Choice 4': 'Lime Cordial - Roses', 'Choice 5': 'Ezy Change Mophandle'}
{'Choice 1': 'Pasta - Orecchiette', 'Choice 2': 'Lamb - Pieces, Diced', 'Choice 3': 'Wine - Prosecco Valdobiaddene', 'Choice 4': 'Lime Cordial - Roses', 'Choice 5': 'Ezy Change Mophandle'}
{'Choice 1': 'Pasta - Orecchiette', 'Choice 2': 'Squid U5 - Thailand', 'Choice 3': 'Lamb - Pieces, Diced', 'Choice 4': 'Wine - Prosecco Valdobiaddene', 'Choice 5': 'Lime Cordial - Roses'}
{'Choice 1': 'Pasta - Orecchiette', 'Choice 2': 'Squid U5 - Thailand', 'Choice 3': 'Lamb - Pieces, Diced', 'Choice 4': 'Wine - Prosecco Valdobiaddene', 'Choice 5': 'Lime Cordial - Roses'}
{'Choice 1': 'Pasta - Orecchiette', 'Choice 2': 'Squid U5 - Thailand', 'Choice 3': 'Lamb - Pieces, Diced', 'Choice 4': 'Wine - Prosecco Valdobiaddene', 'Choice 5': 'Ezy Change Mophandle'}
{'Choice 1': 'Pasta - Orecchiette', 'Choice 2': 'Squid U5 - Thailand', 'Choice 3': 'Lamb - Pieces, Diced', 'Choice 4': 'Wine - Prosecco Valdobiaddene', 'Choice 5': 'Lime Cordial - Roses'}
{'Choice 1': 'Pasta - Orecchiette', 'Choice 2': 'Squid U5 - Thailand', 'Choice 3': 'Lamb - Pieces, Diced', 'Choice 4': 'Wine - Prosecco Valdobiaddene', 'Choice 5': 'Lime Cordial - Roses'}
{'Choice 1': 'Pasta - Orecchiette', 'Choice 2': 'Squid U5 - Thailand', 'Choice 3': 'Lamb - Pieces, Diced', 'Choice 4': 'Wine - Prosecco Valdobiaddene', 'Choice 5': 'Lime Cordial - Roses'}
{'Choice 1': 'Pasta - Orecchiette', 'Choice 2': 'Squid U5 - Thailand', 'Choice 3': 'Lamb - Pieces, Diced', 'Choice 4': 'Wine - Prosecco Valdobiaddene', 'Choice 5': 'Lime Cordial - Roses'}
{'Choice 1': 'Pasta - Orecchiette', 'Choice 2': 'Squid U5 - Thailand', 'Choice 3': 'Lamb - Pieces, Diced', 'Choice 4': 'Wine - Prosecco Valdobiaddene', 'Choice 5': 'Lime Cordial - Roses'}

In [123]:
for e in customerids[:10]:
    recommendations.append(recommendation(e))

In [124]:
recommendations

[{'Choice 1': 'Pasta - Orecchiette',
  'Choice 2': 'Squid U5 - Thailand',
  'Choice 3': 'Wine - Prosecco Valdobiaddene',
  'Choice 4': 'Lime Cordial - Roses',
  'Choice 5': 'Ezy Change Mophandle'},
 {'Choice 1': 'Pasta - Orecchiette',
  'Choice 2': 'Lamb - Pieces, Diced',
  'Choice 3': 'Wine - Prosecco Valdobiaddene',
  'Choice 4': 'Lime Cordial - Roses',
  'Choice 5': 'Ezy Change Mophandle'},
 {'Choice 1': 'Pasta - Orecchiette',
  'Choice 2': 'Squid U5 - Thailand',
  'Choice 3': 'Lamb - Pieces, Diced',
  'Choice 4': 'Wine - Prosecco Valdobiaddene',
  'Choice 5': 'Lime Cordial - Roses'},
 {'Choice 1': 'Pasta - Orecchiette',
  'Choice 2': 'Squid U5 - Thailand',
  'Choice 3': 'Lamb - Pieces, Diced',
  'Choice 4': 'Wine - Prosecco Valdobiaddene',
  'Choice 5': 'Lime Cordial - Roses'},
 {'Choice 1': 'Pasta - Orecchiette',
  'Choice 2': 'Squid U5 - Thailand',
  'Choice 3': 'Lamb - Pieces, Diced',
  'Choice 4': 'Wine - Prosecco Valdobiaddene',
  'Choice 5': 'Ezy Change Mophandle'},
 {'Choice 1': 'Pasta - Orecchiette',
  'Choice 2': 'Squid U5 - Thailand',
  'Choice 3': 'Lamb - Pieces, Diced',
  'Choice 4': 'Wine - Prosecco Valdobiaddene',
  'Choice 5': 'Lime Cordial - Roses'},
 {'Choice 1': 'Pasta - Orecchiette',
  'Choice 2': 'Squid U5 - Thailand',
  'Choice 3': 'Lamb - Pieces, Diced',
  'Choice 4': 'Wine - Prosecco Valdobiaddene',
  'Choice 5': 'Lime Cordial - Roses'},
 {'Choice 1': 'Pasta - Orecchiette',
  'Choice 2': 'Squid U5 - Thailand',
  'Choice 3': 'Lamb - Pieces, Diced',
  'Choice 4': 'Wine - Prosecco Valdobiaddene',
  'Choice 5': 'Lime Cordial - Roses'},
 {'Choice 1': 'Pasta - Orecchiette',
  'Choice 2': 'Squid U5 - Thailand',
  'Choice 3': 'Lamb - Pieces, Diced',
  'Choice 4': 'Wine - Prosecco Valdobiaddene',
  'Choice 5': 'Lime Cordial - Roses'},
 {'Choice 1': 'Pasta - Orecchiette',
  'Choice 2': 'Squid U5 - Thailand',
  'Choice 3': 'Lamb - Pieces, Diced',
  'Choice 4': 'Wine - Prosecco Valdobiaddene',
  'Choice 5': 'Lime Cordial - Roses'}]

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [125]:
df_result = pd.DataFrame(recommendations)
df_result

,Choice 1,Choice 2,Choice 3,Choice 4,Choice 5
0,Pasta - Orecchiette,Squid U5 - Thailand,Wine - Prosecco Valdobiaddene,Lime Cordial - Roses,Ezy Change Mophandle
1,Pasta - Orecchiette,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Lime Cordial - Roses,Ezy Change Mophandle
2,Pasta - Orecchiette,Squid U5 - Thailand,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Lime Cordial - Roses
3,Pasta - Orecchiette,Squid U5 - Thailand,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Lime Cordial - Roses
4,Pasta - Orecchiette,Squid U5 - Thailand,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Ezy Change Mophandle
5,Pasta - Orecchiette,Squid U5 - Thailand,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Lime Cordial - Roses
6,Pasta - Orecchiette,Squid U5 - Thailand,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Lime Cordial - Roses
7,Pasta - Orecchiette,Squid U5 - Thailand,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Lime Cordial - Roses
8,Pasta - Orecchiette,Squid U5 - Thailand,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Lime Cordial - Roses
9,Pasta - Orecchiette,Squid U5 - Thailand,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Lime Cordial - Roses

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [126]:
def cosine_recommendation(client):   
    distances_cos = pd.DataFrame(1/(1 + squareform(pdist(table.T, 'cosine'))), index=table.columns, columns=table.columns)
    similarities_client = distances_cos[client].sort_values(ascending=False)[1:6]
    records = df.loc[similarities_client.index]
    total = records.sort_values(by='Quantity', ascending= False)
    filterino = merged[merged[client]==0]
    filterino[0:5]
    return dict({
                  "Choice 1": filterino.index[0],
                  "Choice 2": filterino.index[1],
                  "Choice 3": filterino.index[2],
                  "Choice 4": filterino.index[3],
                  "Choice 5": filterino.index[4]})

In [128]:
recommendations_v2 = []
for e in customerids[:10]:
    recommendations_v2.append(cosine_recommendation(e))
recommendations_v2
df_result_cosine = pd.DataFrame(recommendations_v2)
df_result_cosine

,Choice 1,Choice 2,Choice 3,Choice 4,Choice 5
0,Pasta - Orecchiette,Squid U5 - Thailand,Wine - Prosecco Valdobiaddene,Lime Cordial - Roses,Ezy Change Mophandle
1,Pasta - Orecchiette,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Lime Cordial - Roses,Ezy Change Mophandle
2,Pasta - Orecchiette,Squid U5 - Thailand,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Lime Cordial - Roses
3,Pasta - Orecchiette,Squid U5 - Thailand,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Lime Cordial - Roses
4,Pasta - Orecchiette,Squid U5 - Thailand,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Ezy Change Mophandle
5,Pasta - Orecchiette,Squid U5 - Thailand,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Lime Cordial - Roses
6,Pasta - Orecchiette,Squid U5 - Thailand,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Lime Cordial - Roses
7,Pasta - Orecchiette,Squid U5 - Thailand,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Lime Cordial - Roses
8,Pasta - Orecchiette,Squid U5 - Thailand,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Lime Cordial - Roses
9,Pasta - Orecchiette,Squid U5 - Thailand,"Lamb - Pieces, Diced",Wine - Prosecco Valdobiaddene,Lime Cordial - Roses